body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #993838;
    background-color: #999; /* Fond blanc */
}

/*Les images*/
img.carte {
    height: 60px;
    border-radius: 5px;
    padding: 2px;
}

a {
    color: #fa4;
    text-decoration: none;
}

/* création des bordures entre le container et le reste :*/
#container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 3px #fc2 solid;
    border-bottom: 3px #fc2 solid;
    padding: 20px;
}

#joueur1, #tapis1 {text-align: center;
    width: 30%;
    color: #fa4;
    background-color: #151; /* Couleur verte */
    padding: 10px;
    border-radius: 10px;
}

#joueur2, #tapis2 {text-align: center;
    color: #fa4;
    width: 30%;
    background-color: #267; /* Couleur bleue */
    padding: 10px;
    border-radius: 10px;
}

