body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #993838;
    background-color: #be9090;
}

/*Les images*/
img.carte {
    height: 60px;
    border-radius: 5px;
    padding: 2px;
}


a {
    color: #fa4;
    text-decoration: none;
}

/* création des bordures entre le container et le reste :*/
#container {
    border-top: 3px #fc2 solid;
    border-bottom: 3px #fc2 solid;
} 


css playing cards   pr ex des cartes