body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #993838;
    background-color: #999;
    /* Fond blanc */

}

/*Les images*/
img.carte {
    height: 60px;
    border-radius: 5px;
    padding: 2px;
}

a {
    color: #fa4;
    text-decoration: none;
}

/* création des bordures entre le container et le reste :*/
#container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: -20px -20px 20px #555B;
    border-radius: 10px;
    margin: 20vh 10%;
    padding: 20px;
    background: url(bois2.jpg);
    /* background-size: contain; */
}

.paysage {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.portrait {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.tapisJ1 {
    background-color: #151;
    box-shadow: -5px -5px 10px #555B;
    color: #fa4;
}

.tapisJ2 {
    background-color: #267;
    box-shadow: -5px -5px 10px #555B;
    color: #fa4;
}

#joueur1,
{
text-align: center;
width: 42%;
background-color: #151;
padding: 10px;
border-radius: 10px;
}

.tas {
    text-align: center;
}

#joueur2,
{
text-align: center;
color: #fa4;
width: 42%;
padding: 10px;
border-radius: 10px;
}